body  {
    background-image: linear-gradient(purple, #00ff84);   
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamePage1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.board {
    background-image: url("http://www.ikes.16mb.com/pict/display/zlap_lcd.jpg");
    background-color: rgb(120, 241, 153);
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.introCard {
    background-image: url("http://www.ikes.16mb.com/pict/display/zlap_lcd.jpg");
    background-color: rgb(120, 241, 153);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#countersDisplay{
    color: white;
    display: flex;
    flex-direction: table-row;
}
.button {
    justify-content: center;
    align-items: center;
    align-self: center;
}