html {
    background: rgb(177, 101, 177); 
    background: cover;
    font-family: 'VT323';
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamePage1 {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    background-image: url(/resources/vaporwaveback.png);
    background-color: rgb(120, 241, 153);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.introCard {
    background-image: url(/resources/introcard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height:600px;
    margin-top: 5%;
    border: solid 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nostalgia {
    font-family: 'VT323';
    font-size: 100px;
    color: #7e41f9;
    text-align: center;
}

#game {
    font-size: 75px;
    color:rgb(255, 0, 225);
    text-align: center;
}
#countersDisplay{
    color: white;
    display: flex;
    flex-direction: table-row;
}

.smiley {
    height: 500px;
    width: 600px;
    margin: 0 auto;
}

button {
    background-color: green;
    font-size: 25px;

}